@if $accordeon==true {
    [accordeon] {
        border-bottom: 1px solid lighten($dark, 30%);
        p,
        h1 {
            color: lighten($dark, 30%);
            border: 1px solid lighten($dark, 30%);
            padding: 1rem;
            margin: 0;
            border-bottom: 0;
        }
        h1 {
            font-size: $h1-fontsize;
            &:hover {
                cursor: pointer;
            }
        } 
        span {
            float: right;
        }
        p {
            display: none;
            &:first-of-type {
                display: block;
            }
        }
        .active {
            background: darken($light, 15%);
        }
    }
}