@if $form==true {
    [data-form] {
        display: flex;
        flex-direction: column;
        .form-group {
            position: relative;
            textarea,
            input[type="text"] {
                border: none;
                border-bottom: 1px solid lighten($dark, 30%);
                width: 100%;
                outline: 0;
                padding: 40px 16px 0 16px;
                vertical-align: bottom;
                font-size: 16px;
                letter-spacing: 0;
                font-family: Arial, Helvetica, sans-serif; 
                &:focus {
                    transition: all .5s;
                    border-bottom: 1px solid $secondary;
                }
            }
            input[type="text"] {
                padding-bottom: 19px;
            }
            label {
                color: lighten($dark, 30%);
                position: absolute;
                bottom: 8px;
                left: 0;
                transition: all .5s;
            }
            textarea:focus+label,
            [type="text"]:focus+label,
            .valid {
                color: $secondary;
                bottom: 46px;
                font-size: .85rem;
            }
            .invalid {
                color: $danger;
            }
            [type="submit"] {
                width: 100%;
                padding: 1rem;
                font-size: 16px;
                background: darken($light,15%); 
                margin-top: 16px;
                transition: all .5s;
                border: none;
                outline: 0;
                &:hover {
                    background: $secondary;
                    color: $light;
                    cursor: pointer;
                }
            }
        }
    }
}