// points de rupture pour media queries

$s-screen: 576px;
$m-screen: 768px;
$l-screen: 992px;
$xl-screen: 1200px;

// couleurs principales

$primary: rgb(44, 5, 77);
$secondary: rgb(8, 126, 110);
$warning: rgb(245, 76, 9);
$danger: rgb(245, 6, 6);
$light: rgb(255, 255, 255);
$dark: rgb(0, 0, 0);

// font size

$base-fontsize: 16px;
$h3-fontsize: 1.1rem;
$h2-fontsize: 1.2rem;
$h1-fontsize: 1.3rem; 

// layout

$margin-body: 0;
$container-width: 1150px;

// plugins

$visible: false;
$accordeon: false;
$compteur: false;
$nav: false;
$slider: false;
$lightbox: false;
$form: true;